{% extends "base.html" %}

{% block content %}
	<p>Hello {{current_user.email}}</p>
	<form action="" method="post" novalidate="">
		{{ form.hidden_tag() }}
		<p>
			<b>{{ form.task.label }}</b> 
			{{ form.task (size=32) }}
			{{ form.submit() }}
		</p>
	</form>

	{% for task in tasks %}
		<p style="display: inline;">{{ task.body }}
		<form style="display: inline;" method="post" action="./delete">
  			<input type="hidden" value="{{ task.id }}" name="task_id">
  			<input type="submit" value="Delete">
		</form>
		</p>
	{% endfor %}
{% endblock %}