{% extends "base.html" %}


{% block content %}

<form action="" method="post" novalidate="">
	{{ form.hidden_tag() }}  <!-- Protect against CSRF attacks -->
	<p>
		{{ form.email.label }}<br>
		{{ form.email(size=32) }}
		{% for error in form.email.errors%}
		<span style="color:red;"><br>{{ error }}</span>
		{% endfor%}
	</p>
	<p>
		{{ form.password.label }}<br>
		{{ form.password(size=32) }}
		{% for error in form.email.errors%}
		<span style="color:red;"><br>{{ error }}</span>
		{% endfor%}
	</p>
	<p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
	<p>{{ form.submit() }}</p>
</form>

{% endblock %}